= form_for @sandwich, url: {action: "create"} do |f|
  .field
    = f.label :kind, 'What "kind" of sandwich do you want?'
    = f.select(:kind, [["Meaty","Meaty"],["Vegetarian","Vegetarian"],["Vegan :(","Vegan"]])
  .field
    = f.label :description, "Describe your dream sandwich in detail:"
    = f.text_area :description
    = f.hidden_field :user_id, value: current_user.id
  .field
    = f.submit "Order this sandwich!"
