%h2 Looks tasty...
%p= "A #{@sandwich.kind} sandwich."
- if @sandwich.rating
  - @sandwich.rating.times do
    %span.star= "&#9733;"
- else
  = form_tag @sandwich, method: 'update' do
    = label_tag :rating, "How many stars would you rate this sandwich?"
    = select_tag(:rating, 1..5) 
    = submit_tag
