%h2 Sign up here.
= form_for @user, :action => "create" do |f|
  - if @user.errors.any? 
    %ul.errors
      - for message in @user.errors.full_messages
        %li= message
  = f.label :name
  = f.text_field :name
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.submit "Sign me on up then!"
