%h2 Sign up here.
= form_for @user, :action => "create" do |f|
  - if @user.errors.any? 
    %ul.errors
      - for message in @user.errors.full_messages
        %li= message
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = f.submit "Sign me on up then!"
