#header
  %h1= link_to "Make_Sandwich", root_url
  - if current_user
    %h4= link_to "Sign out", signout_path, :method => :delete
    %h4= link_to "Your sandwiches", sandwiches_path
  - else
    %h4= link_to "Sign up", signup_path
    %h4= link_to "Sign in", signin_path
